header {
  font-size: 1em;
  background-color:#f0f0f0;
}
header li {
  display: inline;
  list-style-type: none; 
}
footer {
  font-family: Verdana;
  font-size: 0.7em;
  text-align: center;
}

#test {
  background-color: #fff;
  font-size: 5em;
}
